body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
}

video {
    width: 500px;
    height: auto;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    margin: 20px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

#screenshot-result {
    margin-top: 20px;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
