body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    overflow: hidden;
}

.container {
    position: relative;
    width: 700px;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.background-video {
    position: absolute;
    width: 60%;
    height: 120%;
    object-fit: cover;
    z-index: 0;
    transform: translateY(-14%); /* Move the video slightly up */
}

.overlay-image {
    position: absolute;
    width: 560px; /* Adjust the size to match the container */
    height: 660px; /* Adjust the size to match the container */
    z-index: 1;
    transform: translateX(6%); /* Move the image slightly to the right */
}

.fixed-bottom {
    position: fixed;
    bottom: 0;
    right: 50px;
    z-index: 6;
    padding: 1rem;
}

.fixed-bottom img {
    width: 60px;
}
.back-button, .preorder-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px; /* Space between buttons */
}

.back-button {
    background-color: #4CAF50;
    color: white;
}

.back-button:hover {
    background-color: #45a049;
}

.preorder-button {
    background-color: #007BFF;
    color: white;
}

.preorder-button:hover {
    background-color: #0056b3;
}
